<div class="container documents">
  <% if @company_documents.present? %>
    <% @company_documents.each do |company_document| %>
      <div class="row">
        <h5><%= link_to company_document.title, chi_tiet_tai_lieu_path(id: company_document.id) %></h5>
        <p><%= company_document.body.html_safe %></p>
      </div>
    <% end %>
    <div class="paginator">
      <%= paginate @company_documents %>
    </div>
  <% else %>
    <h4>Không có tài liệu nào</h4>
    <%= image_tag('fallback/no_document.jpg', class: "no-document") %>
  <% end %>
</div>