<div class="container">
  <h2 class="text-center">Thông tin hợp đồng</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Thông tin</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= current_employee.info_contract.html_safe %></td>
        </tr>
    </tbody>
  </table>
</div>