@import "bootstrap-sprockets";
@import "bootstrap";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-default {
  background-color: #da5652;

  .navbar-brand {
    color: #fffafa;
  }

  .navbar-nav>li>a {
    color: #fffafa;
  }

  .navbar-nav>li>a:hover {
    color: #fffafa;
  }

  .navbar-form {
    .btn-default {
      background-color: #ce1b15;
      border: 1px solid #ce1b15;
      margin-left: 10px;
      color: #fffafa;
    }
  }
}

h2,
h4 {
  text-align: center;
  color: #da5652;
}

h5 {
  color: #da5652;
}

.carousel-cms {
  margin-bottom: 18px;
}

.sticky-footer {
  margin-top: auto;
}

.form-control {
  margin-bottom: 20px;
}

.btn-danger {
  margin-bottom: 10px;
}

tr {
  .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  img {
    height: 200px;
    margin-left: -30px;
  }
}

.paginator {
  text-align: right;

  .pagination {
    a {
      color: #da5652 !important;
    }

    .active {
      a {
        color: #fffafa !important;
        background-color: #da5652;
        border: 1px solid #da5652;
      }
    }
  }
}

.navbar-fixed-bottom {
  color: #fffafa;
}

.no-document,
.no-news {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.documents {
  margin-bottom: 50px;
}

.document-body {
  margin-top: 10px;
}

.center-row {
  display: flex;
  justify-content: center;
}

h5 {
  a {
    color: #da5652 !important;
  }
}